In [1]:
import pandas as pd
import datetime
import random

In [2]:
data_path_train_series = '../data/train_series.parquet'
data_path_train_events = '../data/train_events.csv'
data_path_test_series = '../data/test_series.parquet'

#data_path_train_series = '/kaggle/input/child-mind-institute-detect-sleep-states/train_series.parquet'
#data_path_train_events = '/kaggle/input/child-mind-institute-detect-sleep-states/train_events.csv'
#data_path_test_series = '/kaggle/input/child-mind-institute-detect-sleep-states/test_series.parquet'

In [3]:
#train_series = pd.read_parquet(data_path_train_series)

In [4]:
test_series = pd.read_parquet(data_path_test_series)
train_events = pd.read_csv(data_path_train_events)

In [5]:
test_series.to_csv('mytest.csv')

In [6]:
max_events = test_series.groupby(['series_id']).agg({'step':'max'})
min_events = test_series.groupby(['series_id']).agg({'step':'min'})

min_events['event'] = 'onset'
max_events['event'] = 'wakeup'

df3 = pd.concat([min_events, max_events])
df3 = df3.reset_index().sort_values('series_id')

df3['score'] = 0
df3.score = df3.score.apply(lambda x :round(random.random() , 2))

df3.index.rename('row_id', inplace=True)
df3.reset_index(inplace=True)

df3

   row_id     series_id  step   event  score
0       0  038441c925bb     0   onset   0.72
1       3  038441c925bb   149  wakeup   0.79
2       1  03d92c9f6f8a     0   onset   0.55
3       4  03d92c9f6f8a   149  wakeup   0.18
4       2  0402a003dae9     0   onset   0.52
5       5  0402a003dae9   149  wakeup   0.87

In [7]:
df3.to_csv('submission.csv', index=False, encoding='utf-8', lineterminator='\n')