In [50]:
import pandas as pd
import datetime
import random

In [51]:
data_path_train_series = '../data/train_series.parquet'
data_path_train_events = '../data/train_events.csv'
data_path_test_series = '../data/test_series.parquet'

#data_path_train_series = '/kaggle/input/child-mind-institute-detect-sleep-states/train_series.parquet'
#data_path_train_events = '/kaggle/input/child-mind-institute-detect-sleep-states/train_events.csv'
#data_path_test_series = '/kaggle/input/child-mind-institute-detect-sleep-states/test_series.parquet'

In [52]:
#train_series = pd.read_parquet(data_path_train_series)

In [53]:
test_series = pd.read_parquet(data_path_test_series)
train_events = pd.read_csv(data_path_train_events)

In [54]:
df = train_events.drop(['step','timestamp'], axis=1).merge(test_series, on='series_id', how='left').dropna()
df['date'] = df['timestamp'].apply(lambda x: f"{datetime.datetime.fromisoformat(x[0:-5]).year}{datetime.datetime.fromisoformat(x[0:-5]).month:02d}{datetime.datetime.fromisoformat(x[0:-5]).day}")

In [55]:
df1 = df.drop(['timestamp', 'anglez', 'enmo', 'date'], axis=1).astype({'step':int}) \
    .groupby(['series_id','night', 'event']) \
    .agg({'step':'max'}) \
    .reset_index()

In [56]:
df1 = df1.drop('night', axis=1)

In [57]:
df1['score'] = 0
df1['score'] = df1.score.apply(lambda x: round(random.random(), 2))
df1['step'] = 0
df1['step'] = df1.step.apply(lambda x: random.randint(0, 120))

In [58]:
df1.index.rename('row_id', inplace=True)
df1 = df1[['series_id', 'step', 'event', 'score']]
df1.reset_index(inplace=True)

In [59]:
df1

     row_id     series_id  step   event  score
0         0  038441c925bb   111   onset   0.61
1         1  038441c925bb   107  wakeup   0.96
2         2  038441c925bb   102   onset   0.49
3         3  038441c925bb     6  wakeup   0.81
4         4  038441c925bb    24   onset   0.68
..      ...           ...   ...     ...    ...
163     163  0402a003dae9   120  wakeup   0.98
164     164  0402a003dae9    23   onset   0.84
165     165  0402a003dae9     2  wakeup   0.05
166     166  0402a003dae9    62   onset   0.36
167     167  0402a003dae9    18  wakeup   0.47

[168 rows x 5 columns]

In [62]:
#df1.to_csv('submission.csv', index=False, encoding='utf-8', lineterminator='\n')